@charset "UTF-8";

.episodes-input {
  display: flex;
  text-align: right;
  align-items: center;
  background-color: var(--cor-principal);
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  border: 2px solid var(--cor-destaque);
  gap: 0.4rem;
  width: fit-content;
  height: 1.5rem;
}

.episodes-input input {
  width: 2.5rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  text-align: right;
}

.episodes-input input[type="number"]::-webkit-outer-spin-button,
.episodes-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.episodes-total {
  font-size: 1em;
  text-align: left;
}
@media (max-width: 600px) {
  .episodes-input {
    padding: 0.15rem 0.3rem;
    border-radius: 0.2rem;
    gap: 0.15rem;
    height: 1rem;
  }
  .episodes-input input {
    width: 1.2rem;
    font-size: 0.95em;
  }
  .episodes-total {
    font-size: 0.95em;
  }
}
